body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;

  background: linear-gradient(0deg, #f8f9fa 0%, #f8f9fa 100%), #fff;
}

.login-container {
  width: 298px;
  margin: auto;
}

.login-container img {
  width: 150px;
  height: 42.55px;
  margin: auto 74px;
}

.login-container p {
  font-size: 26.58px;
  line-height: 33.6px;
  margin-bottom: 17.59px;
  margin-top: 24px;
}

.ip-email.MuiFormControl-root,
.ip-username.MuiFormControl-root,
.ip-pass.MuiFormControl-root {
  margin: 0 !important;
}

.ip-email .MuiOutlinedInput-root {
  border-radius: 6px 6px 0 0;
}

.ip-username .MuiOutlinedInput-root {
  border-radius: 0;
  border-top: none;
}

.ip-pass .MuiOutlinedInput-root {
  border-radius: 0 0 6px 6px;
  border-top: none;
}

.div-chb {
  width: 100%;
  margin-top: 17px;
  padding: 4px 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.form-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212529;
  margin: 16px 0;
}

.btn-primary.MuiButton-root {
  width: 100%;
  height: 42px;
  background-color: #0d6efd;
  margin-bottom: 48px;
}

.fter {
  color: #212529bf;
}

#form small {
  color: red;
  display: none;
}

/* toast */

.toast-error {
  color: #000;
  padding: 16px;
  border-radius: 10px;
  background-color: #ffe5e8;

  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 330px;
}

.toast-error .err-top {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
}

.toast-error .err-top .left {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.toast-error .err-top .left img {
  width: 16px;
  height: 16px;
  margin: 0 !important;
}

.toast-error .err-top .left h4 {
  margin: 0;
}

.toast-error .err-top #close-toast-error {
  width: 24px;
  height: 24px;
  margin: 0 !important;
}

.toast-error .err-bottom {
  padding: 0 24px;
}

/* toast success */
.toast-success {
  color: #000;
  padding: 16px;
  border-radius: 10px;
  background-color: #e5fff0;

  display: flex;
  align-items: center !important;
  gap: 8px;

  width: 330px;
}

.toast-success img {
  width: 20px;
  height: 20px;
}
.toast-success p {
  margin: 0 !important;
}
